/VirtualEnv
/run/src/SavedModels
/run/src/Saved_datasets
/run/lightning_logs
/run/src/__pycache__
.ipynb_checkpoints/
/run/.ipynb_checkpoints/
/run/src/.ipynb_checkpoints/
/run/__pycache__
/src/lightning_logs